{% extends 'base.html' %} 
{% block title %} Accueil {% endblock %} 
{% block content %}

<h1 class="display-1">{{welcome_msg}}</h1>

<p class="lead">
  Millions (pas trop) de titres et de podcasts. Un labo pour le fun.
</p>

<div class="mt-5">
  <p>
    <a
      href="{{ url_for('auth.page_login')}}"
      class="btn btn-primary btn-lg px-4"
      >Connexion</a
    >

    <a
      href="{{ url_for('catalog.page_home')}}"
      class="btn btn-lg px-4"
      >Catalog</a
    >
  </p>
    
</div>

{% endblock %}
